<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
<link href="ext.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="bootstrap.css">
<script src="bootstrap.js"></script>
<script src="jquery.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="container-fluid"style="background-color: #98AFC7;">
			<nav class="navbar navbar-inverse"style="background-color:#34282C;">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="home"> TRM </a>
					</div>

					<ul class="nav navbar-nav">
						<li class="active"><a href="home"> Home </a></li>
						<li><a href="pm"> Project manager </a></li>
						<li><a href="ld"> Learning and Development </a></li>
						<li><a href="ex"> Executive </a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="reg"> <span
								class="glyphican glyphican-user"></span>SignUp
						</a></li>
						<li><a href="log"> <span
								class="glyphican glyphican-log-in"></span>Login
						</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<br>
	<div class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="item-active" align="center">
				<img src="D:\trm-master\case_study\image\ss1.jfif"
					alt="img1" height="250" width="700">
			</div>
			<div class="item" >
				<img src="D:\trm-master\case_study\image\logo.png"
					alt="img2" height="250" width="700">
			</div>
		</div>
	</div>
<br>
	<div class="container">
		<div class="jumbotron">
			<h3 style="text-align:center;color:#999999"><marquee>Training and Research management (TRM)</marquee></h3>
			<br>
			<p style="font-size=20;text-align:justify;">Atos Syntel is a division of Atos and a multinational provider of integrated technology and business services. The company is led by Rakesh Khanna. Atos Syntel was created by the acquisition of Syntel, Inc. by Atos S.E., which was announced on July 22, 2018 and completed on October 9, 2018.Atos Syntel is a division of Atos and a multinational provider of integrated technology and business services. The company is led by Rakesh Khanna. Atos Syntel was created by the acquisition of Syntel, Inc. by Atos S.E., which was announced on July 22, 2018 and completed on October 9, 2018.
			</p>
		</div>
	</div>
	<footer align="center" style="color:#b3b3b3">
		<p>Copyright@Atos.2019</p>
	</footer>
	
</body>
</html>